<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Mission to Mars</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    </head>

    <body>
        <div class="jumbotron text-center">
            <h1 class="display-4">Mission to Mars</h1>
            <a class="btn btn-primary btn-lg" href="scrape" role="button">Scrape New Data</a>
        </div>
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3>Latest Mars News</h3>
                    <h5>{{ news.title }}</h5>
                    <p>{{ news.p }}</p>
                </div>
            </div>

        
            <div class="row">
                <div class="col-md-8">
                    <h3>Featured JPL Image</h3>
                    <img class="w-100" src="{{ featured_image_url }}" />
                </div>

                <div class="col-md-4">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h4 class="card-title">Current Weather on Mars</h4>
                            <p class="card-text">{{ weather }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h4>Mars Facts</h4>
                            {{ facts_html | safe }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row pt-3">
                <div class="col-12">
                    <h3 class="text-center">Mars Hemispheres</h3>
                    <hr />
                </div>
            </div>

            <div class="row py-1">
                <div class="col-md-6 px-2">
                    <div class="card">
                        <img class="card-img-top" src="{{ hemispheres[0]['img_url'] }}" alt="{{ hemispheres[0]['title'] }}"/>
                        <div class="card-body">
                            <h5 class="card-title">{{ hemispheres[0]['title'] }}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 px-2">
                        <div class="card">
                            <img class="card-img-top" src="{{ hemispheres[1]['img_url'] }}" alt="{{ hemispheres[1]['title'] }}"/>
                            <div class="card-body">
                                <h5 class="card-title">{{ hemispheres[1]['title'] }}</h5>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="row py-1">
                    <div class="col-md-6 px-2">
                        <div class="card">
                            <img class="card-img-top" src="{{ hemispheres[2]['img_url'] }}" alt="{{ hemispheres[2]['title'] }}"/>
                            <div class="card-body">
                                <h5 class="card-title">{{ hemispheres[2]['title'] }}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 px-2">
                            <div class="card">
                                <img class="card-img-top" src="{{ hemispheres[3]['img_url'] }}" alt="{{ hemispheres[3]['title'] }}"/>
                                <div class="card-body">
                                    <h5 class="card-title">{{ hemispheres[3]['title'] }}</h5>
                                </div>
                            </div>
                        </div>
                </div>
        </div>


        <!-- The extra stuff -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>